[submodule "extern/openVO"]
	path = extern/openVO
	url = https://github.com/justincdavis/openVO.git
[submodule "extern/steamcontroller"]
	path = extern/steamcontroller
	url = https://github.com/ynsta/steamcontroller.git
[submodule "extern/oakutils"]
	path = extern/oakutils
	url = https://github.com/justincdavis/oakutils.git
